@mixin back($backcolor)
{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background: $backcolor;
}



@mixin alignmobile()
{
    text-align: center;
    padding: 30px;
    border-width: 1px;
}

