$background: linear-gradient(rgb(245, 207, 255), white);
$color-two: linear-gradient(#f5cfff, white);
$color-three: #460e4b;
$color-five: #2885aa;
$color-six: #112788;
$color-seven: linear-gradient(rgb(255, 180, 180), white);
$color-eight:#3e144b;
$color-nine:rgb(17, 34, 54);
$color-ten:rgb(34, 223, 197);
$color-eleven:rgba(119, 204, 200, 0.678);


